<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>



      <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase-messaging.js"></script>



<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD8Ps9vUb3KVbGhJfCM1b4ncOHiz10ZmcI",
    authDomain: "salt-n-peppa.firebaseapp.com",
    databaseURL: "https://salt-n-peppa.firebaseio.com",
    projectId: "salt-n-peppa",
    storageBucket: "salt-n-peppa.appspot.com",
    messagingSenderId: "609863324111"
  };
  firebase.initializeApp(config);
</script>
    </body>
</html>
