<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/jquery-1.11.3.min.js" type="text/javascript"></script>

        <link rel="stylesheet" href="/materialize/css/materialize.min.css" >
        <script src="/materialize/js/materialize.min.js" type="text/javascript"></script>


        <link rel="manifest" href="/manifest.json">
        <script src="/registerServiceWorker.js" type="text/javascript"></script>
    </head>
    <body>
        <div style="text-align:center;">
            <h1>Web Push Notifications</h1>
            <p>real time web...sort of</p>
            <button class="js-push-button btn waves-effect waves-light">Enable Push Notifications</button>
        </div>
    </body>
</html>
